*.iml
*.db
.gradle
.kotlin/
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
phosphor.yaml
phosphor-ios/Podfile.lock
phosphor-ios/Pods/*
phosphor-ios/phosphor-ios.xcworkspace/*
phosphor-ios/phosphor-ios.xcodeproj/*
!phosphor-ios/phosphor-ios.xcodeproj/project.pbxproj
phosphor-core/phosphor-core.podspec
